$lime: #82c91e; // 주석 선언
$gray: #868e96;
$carrot: #fd7e14;

@mixin button-color($color) {
        background: $color;
        &:hover {
          background: lighten($color, 10%); // 색상 10% 밝게
        }
        &:active {
          background: darken($color, 10%); // 색상 10% 어둡게
        }

        &.outline {
            color: $color;
            background:none;
            border: 1px solid $color;
            &:hover {
                background: $color;
                color: white;
            }
        }
}

.Button {
  display: inline-flex;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  padding-left: 1rem;
  padding-right: 1rem;

&.large {
    height: 3rem;
    font-size: 1.25rem;  
}

&.medium {
    height: 2.25rem;
    font-size: 1rem;  
}

&.small {
    height: 1.75rem;
    font-size: 0.875rem; 
}

&.lime {
    @include button-color($lime);
}

&.gray {
    @include button-color($gray);
}

&.carrot {
    @include button-color($carrot);
}

& + & {
    margin-left: 1rem;
}

&.fullWidth {
    width: 100%;
    justify-content: center;
    & + & {
        margin-left: 0;
        margin-top: 1rem;
    }
}

}
